@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
body{
  font-family: 'Balsamiq Sans', cursive;
}

.center {
  display: flex;
  flex-direction: column;  
  align-items: center;
  align-content: center;
}

.item {
  flex: 1;
  margin: 10px;
}

header{
  background-color: deepskyblue;
  margin-top: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 100px;
  padding-left: 100px;
}
h1 {
  text-align: center;
  
  
}

h2 {
  text-align: center;
}

p {
  font-size: xx-large;
}

.border{
  border: 3px solid black;
  padding: 30px;
}

button {
  padding: 10px 16px;
  border: 1;
  font-size: 30px;
  width: 50%;
}