@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
Section {
  display: flex;
  flex-direction: column;
  font-family: 'Balsamiq Sans', cursive;
}

.item {
  flex: 1;
  margin: 10px;
}

section button {
  padding: 10px 16px;
  border: 1;
  font-size: 20px;
  width: 50%;
  justify-self: center;
  align-items: center;
}